    
# Build and Release Folders
[Oo]bj/
[Bb]in/
Builds

# Other files and folders
.vs/
My Project/
App_Data/
packages/
Properties/
*.sln
*.csproj
*.csproj.user
*.vbproj
*.vbproj.user
*.config
*.key

# Executables
*.ipa
*.apk
*.rar
*.zip
